<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>
  <div class="headings">
    <h2>Smoothie Catalogue</h2>
    <h3>BITS ACM TASK</h3>
    <a href="/smoothies" class="btn">View Catalogue</a>
  </div>
</header>

<%- include('partials/footer'); -%>
