<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>ABC</h4>
    <p>A, B, C</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>DEF</h4>
    <p>D, E, F</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>GHI</h4>
    <p>G, H, I</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>JKL</h4>
    <p>J, K, L</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>MNO</h4>
    <p>M, N, O</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon" />
    <h4>PQR</h4>
    <p>P, Q, R</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
